.*
**/*~
**/_*
**/auto
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.pdf
**/*.out
**/*.old
**/*.run.xml
**/images/
*.pyc
**/__pycache__
!__init__.py
!_imgs

data/
experiments/**/
/.bash_history

bin/*.sh
bin/*.png
bin/face_extract_vgg/

doc/






